# Byte-compiled / optimized / DLL files
__pycache__/

# User information
user_info.py

# Regulations of chess tournaments
regulations

# Excel of chess tournaments
tournaments.xlsx
final.xlsx

# Data files
update.txt